* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
}

button {
    height: 30px;
    width: 40px;
    margin: auto;
    margin-top: 0.5em;
    border-radius: 8px;
    background-color: #3CB371;
    border: 1px solid green;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#title {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#front{
    width: 1200px;
    height: 800px;
    margin: 0.5em auto;
    padding: 0.5em;
}

#canvasDisplay {
    width: 60%;
    height: 45%;
    background-color: #A9A9A9;
    border-radius: 0.5em;
    margin: auto;
    padding: 0.5em;
}

#dispOne {
    width:310px;
    float: left;
    margin: auto;
    padding: 0.5em;
}

#dispTwo {
    width:310px;
    float: right;
    margin: auto;
    padding: 0.5em;
}

#formDisplay {
    height: 50%;
    width: 70%;
    background-color :#A9A9A9;
    border-radius: 1em;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em;
}

#tiempoRever, #dimRecinto, #dimFuente, #dimMicro{
    width: 90%;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: #DCDCDC;
    border-radius: 0.5em;
}

#tiempoRever {
    height: 5%;;
}

#dimRecinto, #dimFuente, #dimMicro{
    height: 20%;
}
