* {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 80%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color:white;
}

h4 {
  font-size:20px;
  font-weight:700;
  padding: 6px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-bottom:2px solid white;
}

h5 {
  margin: auto;
  font-size:15px;
  font-weight:700;
  text-decoration: underline;
}

h3, h4, h5, input {
  text-align: center;
}

input {
  font-family: "Cambay"
  color: inherit;
  height: 30px;
  box-sizing: border-box;
  border-color: inherit;
  border-radius: 4px;
  letter-spacing: 2px;
  margin-top: 10px;
}

p {
  margin-top: 7px;
}

/* details {
  position: absolute;
  float: right;
  width: 50px;
  z-index: 2;
  height: auto;
  margin-top: 25px;
  margin-left:70%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

summary {
  z-index: 2;
  height: 20px;
  width: 20px;text-decoration: none;
  background-color: inherit;
  color: #404040;
  border-radius: 50%;
  border: 3px solid #404040;
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

summary::-webkit-details-marker {
  display: none;
} */

button {
  border: none;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

button:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

#body-content.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  padding: 50px;
  margin: auto;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  font-size: 20px;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#sidebar-menu {
  position: fixed;
  z-index: 1;
  width: 300px;
  height: 100%;
  display: none;
  margin-top: 85px;
  background-color:#404040;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.menu-animation {
  position:relative;
  animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1};
}

.how-to-animation {
  position:relative;
  animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1};
}

.sidebar-button {
  display: block;
  padding: 20px;
  margin: auto;
  text-align: left;
  color: white;
  text-decoration: none;
  font-family: "Cabin";
  font-size:20px;
  font-weight:700;
  letter-spacing: 2;
  text-transform: uppercase;
}

.sidebar-button:hover {
  font-weight: 900;
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.close-div {
  width: 100%;
  height: 70px;
}

.close-div a {
  width:30px;
  height:30px;
  padding:10px;
  margin:auto;
  font-family: Arial, sans-serif;
  text-align:center;
  float:right;
  text-decoration:none;
  font-size:30px;
  font-weight:700;
  color:white;
  cursor: pointer;
}

.close-div a:before {
  content:'x';
}

.close-div a:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.init-menu {
  width: auto;
  height: auto;
  z-index: 3;
  margin:auto;
  padding: 0;
  margin-left:15px;
  float: left;
  text-align:center;
  font-size:65px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.init-menu:hover {
  color: black;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.menu-button {
  background: #404040;
}

.calculate-button {
  position: relative;
  background: DodgerBlue;
}

.calculate-button a, .reset-button a {
  position: relative;
  text-decoration: none;
  outline: 0;
  color: inherit;
}

.reset-button {
  width:150px;
  height:30px;
  padding: 0;
  margin-top:20px;
  margin-bottom:0px;
  position:relative;
  color:white;
  background:SteelBlue;
}

.reset-button:hover{
  width: 200px;
  color: #404040;
  font-weight: 700;
  letter-spacing: 3px;
  background: white;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.reset-distance div {
  width: 100%;
}

.reset-distance button {
  width: 250px;
}

.reset-distance:hover button {
  width: 300px;
}

.bg-image {
  height: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: auto;
}

.img1 { background-image: url("images/cables-completo.jpg"); }
.img2 { background-image: url("images/micro-completo.jpg"); }
.img3 { background-image: url("images/altavoz-completo.jpg"); }
.img4 { background-image: url("images/guitarra-completo.jpg"); }

.bg-box {
  background-color: black;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  padding: 20px;
  text-align: center;
}

.bg-title {
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  position: absolute;
  color: white;
  border: 10px solid #f1f1f1;
  top: 50%;
  font-size: 70px;
}

.bg-description {
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  margin-top: 100px;
  margin-left: 50%;
  color: #2F4F4F;
  border: 10px solid #2F4F4F;
  font-size:20px;
  width: 60%;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.in-box, .in-box-octaves {
  margin: auto;
  position: relative;
}

.in-box {
  width: 75%;
  margin-bottom: 10px;
}
.in-box-octaves {
  width: 100%;
  margin-bottom: 20px;
}

.info-input {
  width: 100%;
}

.coef-input {
  width: 120px;
  margin-right: 15px;
}

.info-input, .coef-input {
  border: 0;
  padding: 7px 0;
}

.info-input.coef-input ~ .focus-border{
  position: relative;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border:none;
  background-color: #2196F3;
  transition: 0.4s;
}

.info-input:focus ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

.coef-input:focus ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

.content-title {
  font-family: "Lato";
  font-size: 50px;
  font-weight: 10;
  letter-spacing: 4px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  border-bottom:1px solid #ccc;
  margin-top: 180px;
}

.how-title {
  margin-top: 50px;
}

/* Style the tab */
.tab {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 85px;
  background-color: #404040;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.init-logo {
  z-index: 3;
  width:800px;
  height: 70px;
  margin: auto;
  border-radius: 5px;
  background-color: inherit;
}

.init-logo a {
  margin-left: 5%;
  background-color: inherit;
  color: white;
  font-family: "Aldrich";
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  display:inline-block;
  margin-top:15px;
  padding: 0 10px 0 10px;
  text-align: center;
  vertical-align:middle;
}

.init-logo a:hover {
  font-weight: 900;
  background-color: white;
  color: black;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/*
.info-area div {
  background-color: white;
  width: 300px;
  font-family: "Cambay";
  border-radius:5px;
  border: 2px solid #404040;
}

.info-material div {
  width: 230px;
}

details {
  position: absolute;
  float: right;
  width: 50px;
  z-index: 2;
  height: auto;
  margin-top: 25px;
  margin-left:70%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

summary {
  z-index: 2;
  height: 20px;
  width: 20px;text-decoration: none;
  background-color: inherit;
  color: #404040;
  border-radius: 50%;
  border: 3px solid #404040;
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

summary::-webkit-details-marker {
  display: none;
}

.info-area h2 {
  color: white;
  background-color:#404040;
}

.info-area p {
  text-align: left;
  font-size: 15px;
  padding: 20px;
  padding-top: 10px;
}

.tr-info-area details{
  margin-top:85px;
}

#materials details {
  margin-top: 15px;
  margin-left: 100%;
}

#reverTime details {
    margin-top: 0;
    margin-left: 80%;
} */

details {
  position: absolute;
  z-index: 1;
}

#roomDimensions details {
  margin-top:15px;
  margin-left:91%;
}

#roomDimensions-container details, #minDistance-container details {
  margin-top:25px;
  margin-left:70%;
}

#reverTime-normal details {
  margin-top: 0;
  margin-left: 80%;
}

#reverTime-octaves details {
  margin-top: 0;
  margin-left: 80%;
}

#reverTime-octaves {
  display: none;
}

#materials details {
  margin-top: 15px;
  margin-left: 90%;
}

/* .info-area summary {
  height: 20px;
  width: 20px;
  text-decoration: none;
  background-color: inherit;
  color: #404040;
  border-radius: 50%;
  border: 2px solid #404040;
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  cursor: pointer;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.info-area summary::-webkit-details-marker {
  display: none;
}

.info-area div {
  background-color: white;
  width: 300px;
  font-family: "Cambay";
  border-radius:5px;
  border: 2px solid #404040;
}

.info-area h2 {
  color: white;
  background-color:#404040;
}

.info-area p {
  text-align: left;
  font-size: 15px;
  padding: 20px;
  padding-top: 10px;
} */

.how-area summary {
  height: 20px;
  width: auto;
  margin-bottom: 3px;
  text-decoration: none;
  background-color: #404040;
  color:white;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #404040;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.how-area summary::-webkit-details-marker {
  display: none;
}

.how-area div {
  background-color: white;
  width: 300px;
  font-family: "Cambay";
  border-radius:5px;
  border: 2px solid #404040;
}

.how-area div {
  background-color: white;
  width: 300px;
  font-family: "Cambay";
  border-radius:5px;
  border: 2px solid #404040;
}

.how-area h2 {
  color: white;
  background-color:#404040;
}

.how-area p {
  text-align: left;
  font-size: 15px;
  padding: 20px;
  padding-top: 10px;
}

.how-area div {
  animation:animateleft 0.4s}@keyframes animateleft{from{top:-300px;opacity:0} to{top:0;opacity:1};
}

.info-material div, .info-rever div {
  width: 200px;
}

.distance-image {
  width: 50%;
}

.schroeder-image {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.reverberation-image {
  width: 90%;
}

/* Style the tab content */
.reverberation-time {
  width: 100%;
  padding: 6px 12px;
  border-top: none;
  margin: auto;
  margin-top: 50px;
}

.contenedor-principal {
  width:80%;
  position: relative;
  margin:auto;
  margin-top: 20px;
  text-align: center;
  background: white;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.6),0 4px 20px 0 rgba(0,0,0,0.6)
}

.description {
  font-family: "Cambay";
  font-size: 15px;
  letter-spacing: auto;
  padding: 100px;
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: left;
}

.description ul,li{margin-left: 30px;}
.description li {color:#404040;font-weight: 800;}
.description-text {margin-left:90px;}
.description-numeration {margin-left: 120px;}

.image-container-desc {
  width: 70%;
  padding: 15px;
  margin: auto;
}

.image-container-desc h2{
  color: #404040;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.image-description {
  margin-top: 20px;
  width: 40%;
}

.canvas-display, .distance-display, .rever-display, .suggested-display, .room-display, .canvas-rever-display {
  letter-spacing: 2px;
  margin: auto;
  border-radius: 1em;
}
.canvas-display, .canvas-rever-display {
  width: 80%;
  height: 45%;
  background-color: white;
}

.canvas-display {
  display:inline-block;
}

.display-octaves{
  margin: auto;
}

.display-one {
  position: relative;
  float: left;
  margin: 50px;
}

.display-two {
  position: relative;
  float: right;
  margin: 50px;
}

.distance-display, .suggested-display, .room-display, .rever-display {
  height: 50%;
  width: 90%;
}

.suggested-display {
  border-radius: 0;
  border-top: 3px solid #404040;
}

.reverberation-title {
  width: 250px;
  height: auto;
  margin: auto;
  color: #404040;
  font-family: "Lato";
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

.rever {
  width: 35%;
}

#tiempoRever, #dimFuente, #dimMicro, #coefRecinto, #coefRecintoOctaves, #dimRecinto {
  position: relative;
  color: white;
  letter-spacing: 2px;
  background-color: #404040;
  margin: auto;
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

#tiempoRever, #dimFuente, #dimMicro, #dimRecinto {
  width: 50%;
}

#tiempoRever {
  height: 5%;
}

#dimFuente, #dimMicro, #dimRecinto {
  height: 20%;
}

#coefRecinto {
  width: 70%;
  height: auto;
}

#coefRecintoOctaves {
  width:90%;
}

#inputValue {
  height: 40px;
  margin-top: 50px;
  border-width:medium;
  border: 2px solid #404040;
  font-weight: 700;
  color: #404040;
  letter-spacing: 2px;
}

#inputValue:focus {
  background-color: #404040;
  color: white;
  transition: all 0.3s ease 0s;
}

#suggested-list table{
  position: relative;
  border-collapse: collapse;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#suggested-list th, td {
  border: 1px solid black;
}

.octaves-table, .coef-table {
  margin: auto;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 10px;
}

.octaves-table input {
  margin: auto;
  width: 90px;
}

.coef-table input {
    margin: auto;
    width: 250px;
}

.octaves-table td {
  border: 0px;
  border-bottom: 1px solid white;
}

.coef-table td {
  border: 0px;
  border-bottom: 1px solid white;
}

.octaves-table th {
  border: 0px;
}

.coef-table th {
  border: 0px;
}

.good, .error, .warning {
  width: 550px;
  height: auto;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 0.5em;
  font-family: "Cambay";
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border-radius:  0.5em;
  border-style: solid;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.good {
  border-color: MediumSpringGreen;
}

.error {
  border-color: Crimson;
}

.warning {
  width: 700px;
  text-align: justify;
  border-color: Gold;
}

.good-tr{
  height: auto;
}

.good-tr-octaves {
  width: 450px;
  height: auto;
}

.points-image {
  width: 695px;
  height: auto;
}

.divReverTime {
  width: 60%;
  height: 7%;
  border-radius: 0.5em;
  margin: auto;
  margin-top: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-size: 16px;
  border: 2px solid;
  background-color: limegreen;
  border: darkgreen;
}

/* TABLES STYLE */
td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}

th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}

.table-style{width:90%;margin:auto;margin-top:50px;margin-bottom:50px;border-collapse:collapse;border-spacing:0;}
.tg-title{font-weight:bold;font-size:22px;color:white;background-color:SlateGray;border-color:#000000;text-align:center;vertical-align:top}

.table-header{font-weight:bold;background-color:Silver;color:black;border-color:black;text-align:center;vertical-align:top}

.table-typeMaterial{font-weight:bold;background-color:MintCream;border-color:#000000;text-align:left;vertical-align:top}

.table-body {
  display: none;
  text-align: center;
}

.table-style-0 {background-color: Snow;}
.table-style-1 {background-color: MintCream;}
.table-style-2 {background-color: Snow;}
.table-style-3 {background-color: MintCream;}

#rever-octaves-table, #rever-table {
  margin: auto;
}

#rever-octaves-table {
  margin-top: 50px;
}

#rever-table {
  border-collapse:collapse;
}

.bg-paragraph {
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  color: black;
  font-size: 20px;
}

#about {
  width: 100%;
  height: 200px;
  margin-top:50px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.6),0 4px 20px 0 rgba(0,0,0,0.6);
  background-image: linear-gradient(to bottom right, Gray, DodgerBlue);
}

.contact-area {
  width: 49%;
  height: 100%;
  border-right: 1px solid #ccc;
  display: inline-block;
}

.contact-github, .contact-gmail {
  width: 100%;
  height: auto;
  margin-top: 30px;
  float: left;
}

.contact-github img{
  width: 30px;
  height: 30px;
  margin-left:70px;
  text-align: center;
}

.contact-gmail img{
  height: 30px;
  margin-left:50px;
  text-align: center;
}

.contact-github a, .contact-gmail a{
  width: 250px;
  font-family: "Aldrich";
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  outline:0;
  color:black;
  margin-left: 15px;
  text-align: center;
}

.about-area{
  width: 50%;
  float: right;
}

.about-area {
  font-family: "Big Shoulders Display";
  letter-spacing: 2px;
  text-align: center;
}

.about-area h2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.about-area p{
  font-size: 20px;
  letter-spacing: 2px;
  margin: 15px;
  margin-top: 20px;
}

.empty {
  height: 25px;
  background-color: inherit;
}
